.autocomplete-container {
  position: relative;
  width: 300px;
}

.autocomplete-results {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background: white;
}

.autocomplete-results div {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* 내용을 중앙 정렬 */
}

.autocomplete-results div .category {
  margin-left: auto; /* 오른쪽 끝에 카테고리를 배치 */
  color: #888; /* 카테고리 색상을 회색으로 설정 */
}

.autocomplete-results div:hover {
  background: #f2f2f2;
}

.search-results {
  margin-top: 50px; /* 더 멀리 떨어지게 하고 싶다면 여기 값을 조정 */
  border: 1px solid #ddd;
  max-height: 300px;
  overflow-y: auto;
  width: 90%; /* 검색 결과 너비 조정 */
  background: white;
  position: absolute;
  left: 5%; /* 중앙 정렬을 위해 좌우 여백 설정 */
  top: 500px; /* 입력 필드와의 거리 */
}

.search-result-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.search-result-entry img {
  width: 100px;  /* 이미지 크기 조정 */
  height: auto;
  margin-right: 20px; /* 텍스트와의 간격 */
}

.menu-info {
  display: flex;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  margin-top: 10px;
  gap: 10px; /* 메뉴 아이템 사이 간격 */
}

.menu-item {
  min-width: 200px; /* 각 메뉴 아이템의 최소 너비 */
  border: 1px solid #ddd; /* 메뉴 아이템 테두리 */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
  background: white;
  display: flex;
  flex-direction: column; /* 콘텐츠를 세로로 정렬 */
  align-items: center; /* 콘텐츠를 가운데 정렬 */
}

.menu-item img {
  width: 180px; /* 이미지 너비 */
  height: auto; /* 이미지 높이는 자동으로 조정 */
  margin-bottom: 5px; /* 이미지 아래 여백 */
}
